/* style variables */
:root {
    /* colour */
    --md-sys-color-primary: #6750a4;
    --md-sys-color-on-primary: #fef7ff;
    --md-primary-tab-active-indicator-color: #fef7ff;
    --md-primary-tab-active-label-text-color: #1d1b20;
    --md-primary-tab-hover-label-text-color: #6750a4;
    --md-secondary-tab-container-color: #9780d4;
    --md-secondary-tab-label-text-color: #fef7ff;
    --md-secondary-tab-active-label-text-color: #fef7ff;
    --md-secondary-tab-active-indicator-color: #9780d4;
    --md-outlined-text-field-label-text-color: #fef7ff;
    --md-outlined-text-field-focus-label-text-color: #000000;
    --md-outlined-text-field-input-text-color: #fef7ff;
    --md-outlined-text-field-outline-color: #fef7ff;
    --md-outlined-text-field-focus-outline-color: #000000;
    --md-outlined-select-text-field-label-text-color: #fef7ff;
    --md-outlined-select-text-field-focus-label-text-color: #000000;
    --md-outlined-select-text-field-input-text-color: #fef7ff;
    --md-outlined-select-text-field-outline-color: #fef7ff;
    --md-outlined-select-text-field-focus-outline-color: #000000;
    --md-focus-ring-color: #fef7ff;
    --md-divider-color: #9780d4;
    /* size */
    --sys-form-width: 22em;
    --sys-border-width: 0.125em;
    --sys-border-width-large: 0.25em;
    --sys-font-size-xsmall: 0.5em;
    --sys-font-size-small: 0.75em;
    --sys-font-size: 1em;
    --sys-font-size-large: 1.5em;
    --sys-font-size-xlarge: 2em;
} 
/* document-wide style */
body {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    margin: 0;
}
/* page header style */
/* #header {
    height: 20dvh;
} */
/* page header text style */
#header h1 {
    width: 100%;
    text-align: center;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
}
/* app container style */
#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* form generated container style */
#form-generated-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--sys-form-width);
    overflow-x: scroll;
}
/* form generated container table style */
#form-generated-container table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-style: solid;
    border-color: var(--md-secondary-tab-container-color);
    border-width: var(--sys-border-width);
    border-radius: var(--sys-border-width);
}
/* form generated container tbody style */
#form-generated-container tbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
/* form generated container row style */
#form-generated-container tr {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-style: solid;
    border-color: var(--md-secondary-tab-container-color);
    border-width: 0 var(--sys-border-width);
    border-radius: 0;
}
/* form generated container column style */
#form-generated-container td {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(var(--sys-font-size-small)*4);
    font-size: var(--sys-font-size-small);
    border-style: solid;
    border-color: var(--md-secondary-tab-container-color);
    border-width: 0 var(--sys-border-width);
    text-align: center;
    overflow: scroll;
}
/* form generated container header style */
#form-generated-container th {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--md-secondary-tab-container-color);
    color: var(--md-secondary-tab-label-text-color);
    font-size: var(--sys-font-size-small);
}
/* form generated container input style */
.generated-input
{
    width: 100%;
    padding: 0;
    border-style: none;
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    font-family: 'Noto Serif', serif;
    font-size: var(--sys-font-size);
    text-align: center;
    
}
.generated-input:focus
{
    outline: none;
    border-style: none;
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    font-family: 'Noto Serif', serif;
    font-size: var(--sys-font-size);
    text-align: center;
}
/* app page view style */
.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
/* app page view child spacing */
.view div, .view md-elevated-button{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
/* app page view top padding div style */
.view .view-top-padding {
    height: 1em;
}
/* app page view secondary tab style */
.view md-tabs {
    width: 100%;
}
/* app page list style */
.view md-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border-style: solid;
    border-color: var(--md-secondary-tab-container-color);
    border-width: var(--sys-border-width-large);
    border-radius: var(--sys-border-width-large);
}
/* app page view textarea style */
.view md-list-item md-filled-text-field{
    width: 60dvw;
    min-width: 60dvw;
    max-width: 60dvw;
    height: 10em;
    max-height: 20dvh;
    min-height: 5em;
}
.view .view-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.view .view-input-container md-outlined-text-field {
    width: var(--sys-form-width);
    padding-bottom: 1em;
}
.view .view-input-container md-outlined-select {
    width: var(--sys-form-width);
    padding-bottom: 1em;
}
/* app page subview style */
.subview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
/* app page subview child spacing */
.subview div {
    margin-top: 0;
    margin-bottom: 0;
}
/* subtab and tab active tab indicator container style */
.action-indicator-bar, .view-indicator-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: var(--sys-border-width-large)
}
/* subtab and tab active tab indicator tab style */
.action-indicator-bar div, .view-indicator-bar div {
    flex-grow: 1;
    flex-shrink: 0;
    width: auto;
    height: 100%;
}
.action-indicator-bar div {
    border-bottom-left-radius: 0.125em;
    border-bottom-right-radius: 0.125em;
}
.view-indicator-bar div {
    border-top-left-radius: 0.125em;
    border-top-right-radius: 0.125em;
}
/* subtab active tab indicator style */
.action-indicator {
    background-color: var(--md-secondary-tab-container-color);
}
.view-indicator {
    background-color: var(--md-sys-color-on-primary);
}